<!DOCTYPE html>
<html>
<head>
    <title>Order Management</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="column" id="to-do">
            <h1>Orders to Do</h1>
            <ul>
                {% for order in orders_to_do %}
                    <li>{{ order }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column" id="in-progress">
            <h1>Orders in Progress</h1>
            <ul>
                {% for order in orders_in_progress %}
                    <li>{{ order }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column" id="done">
            <h1>Orders Done</h1>
            <ul>
                {% for order in orders_done %}
                    <li>{{ order }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
