
body {
    background-color: black;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.column {
    width: calc(33.33% - 4px); 
    padding: 20px;
    border: 2px solid white;
    text-align: center;
    color: white;
}

h1 {
    font-size: 20px;
    margin: 0;
}
