
body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.order-table {
    width: 100%;
    text-align: center;
}

.order-table td {
    color: white;
    padding: 10px;
    border: 2px solid white;
    font-size: 20px;
}

.order-table td:nth-child(2) {
    width: 50%;
}
